header{
    font-size: 40px;
    font-weight: bold;
    
    
}
body{ background-color: orange;
    
    
    



}

h1{
    border: 2px solid rgb(2, 2, 2);  
    border-radius:5px;  
    padding:5px;
    width: 10%; 
    background-color: transparent;}

h2{border: 2px;
text-size-adjust: 40;
background-color: transparent;
text-align: center;
}

ul{border: 2px solid black;
    background-color: white;
}
.list-container{width:400px;
position: center;}



.img{
  margin-right: 200px;
}
.card {
    width: 210px;
    height: 254px;
    border-radius: 4px;
    background:transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    padding: .4em;
  }
  
  .card p {
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    -webkit-transition: all .5s;
    transition: all .5s;
    background: black;
    border: 1px solid orange;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .card p:hover {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
  
  .card p span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: all .5s;
    transition: all .5s;
    text-transform: uppercase;
    color: orange;
    letter-spacing: .1em;
  }
  
  .card p:hover span {
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
  }
.card {
  float:auto; 
  grid-column-end: auto;
  clear: both;
}


.li {float: center;
    clear: both;}    



  .card a {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background:black;
    border: 1px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card a:hover {
    flex: 4;
  }
  
  .card a span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: orange;
    letter-spacing: .1em;
  }
  
  .card a:hover span {
    transform: rotate(0);
  }






  .ResumeCard {
    width: 17em;
    height: 22.5em;
    background: black;
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 2%;
  }
  
  .ResumeCard span {
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    font-size: 1em;
  }
  
  .ResumeCard .info {
    font-weight: 500;
    color: white;
    display: block;
    text-align: center;
    font-size: 0.9em;
    margin: 1em;
  }
  
  .ResumeCard .img {
    width: 95;
    height: 95;
    background: white;
    border-radius: 15px;
    margin: auto;
  }
  
  .ResumeCard .share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  
  .ResumeCard a {
    color: white;
    transition: .4s ease-in-out;
  }
  
  .ResumeCard a:hover {
    color: orange;
  }
  
  .ResumeCard button {
    padding: 0.8em 1.7em;
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
  }
  
  .ResumeCard button:hover {
    background: orange;
    color: white;
    cursor: pointer;}



    .container {
      width: 400px;
      height: 194px;
    }
    
    .terminal_toolbar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 30px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0 8px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: -webkit-gradient(linear, left top, left bottom, from(#504b45), to(#3c3b37));
      background: linear-gradient(#504b45 0%, #3c3b37 100%);
    }
    
    .butt {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    
    .btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0;
      margin-right: 5px;
      font-size: 8px;
      height: 12px;
      width: 12px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border: none;
      border-radius: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(#7d7871), to(#595953));
      background: linear-gradient(#7d7871 0%, #595953 100%);
      text-shadow: 0px 1px 0px rgba(255,255,255,0.2);
      -webkit-box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
              box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
    }
    
    .btn-color {
      background: #ee411a;
    }
    .btn-color2{
      background: blue;
    }
    
    .btn:hover {
      cursor: pointer;
    }
    
    .btn:focus {
      outline: none;
    }
    
    .butt--exit {
      background: -webkit-gradient(linear, left top, left bottom, from(#f37458), to(#de4c12));
      background: linear-gradient(#f37458 0%, #de4c12 100%);
    }
    
    .user {
      color: orange;
      margin-left: 6px;
      font-size: 14px;
      line-height: 15px;
    }
    
    .terminal_body {
      background: rgb(0, 0, 0);
      height: calc(100% - 30px);
      padding-top: 2px;
      margin-top: -1px;
      font-size: 12px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      align-content: normal;
      align-items: normal;
      justify-content: left;
    }
    
    .terminal_promt {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    
    .terminal_promt span {
      margin-left: 4px;
    }
    
    .terminal_user {
      color: orange;
    }
    
    .terminal_location {
      color: #4878c0;
    }
    
    .terminal_bling {
      color: orange;
    }
    
    .terminal_cursor {
      display: block;
      height: 14px;
      width: 5px;
      margin-left: 10px;
      align-items: right;
      align-content: right;
      justify-content: right;
    }

   .text_color{color:white}
    
    @-webkit-keyframes curbl {
      
      0% {
        background: #ffffff;
      }
    
      49% {
        background: #ffffff;
      }
    
      60% {
        background: transparent;
      }
    
      99% {
        background: transparent;
      }
    
      100% {
        background: #ffffff;
      }
    }
    
    @keyframes curbl {
      
      0% {
        background: #ffffff;
      }
    
      49% {
        background: #ffffff;
      }
    
      60% {
        background: transparent;
      }
    
      99% {
        background: transparent;
      }
    
      100% {
        background: #ffffff;
      }
    } 






    .continue-application {
      --color: #fff;
      --background: #404660;
      --background-hover: #3A4059;
      --background-left: #2B3044;
      --folder: #F3E9CB;
      --folder-inner: #BEB393;
      --paper: #FFFFFF;
      --paper-lines: #BBC1E1;
      --paper-behind: #E1E6F9;
      --pencil-cap: #fff;
      --pencil-top: #275EFE;
      --pencil-middle: #fff;
      --pencil-bottom: #5C86FF;
      --shadow: rgba(13, 15, 25, .2);
      border: none;
      outline: none;
      cursor: pointer;
      position: relative;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 500;
      line-height: 19px;
      -webkit-appearance: none;
      -webkit-tap-highlight-color: transparent;
      padding: 17px 29px 17px 69px;
      transition: background 0.3s;
      color: var(--color);
      background: var(--bg, var(--background));
    }
    
    .continue-application > div {
      top: 0;
      left: 0;
      bottom: 0;
      width: 53px;
      position: absolute;
      overflow: hidden;
      border-radius: 5px 0 0 5px;
      background: var(--background-left);
    }
    
    .continue-application > div .folder {
      width: 23px;
      height: 27px;
      position: absolute;
      left: 15px;
      top: 13px;
    }
    
    .continue-application > div .folder .top {
      left: 0;
      top: 0;
      z-index: 2;
      position: absolute;
      transform: translateX(var(--fx, 0));
      transition: transform 0.4s ease var(--fd, 0.3s);
    }
    
    .continue-application > div .folder .top svg {
      width: 24px;
      height: 27px;
      display: block;
      fill: var(--folder);
      transform-origin: 0 50%;
      transition: transform 0.3s ease var(--fds, 0.45s);
      transform: perspective(120px) rotateY(var(--fr, 0deg));
    }
    
    .continue-application > div .folder:before, .continue-application > div .folder:after,
    .continue-application > div .folder .paper {
      content: "";
      position: absolute;
      left: var(--l, 0);
      top: var(--t, 0);
      width: var(--w, 100%);
      height: var(--h, 100%);
      border-radius: 1px;
      background: var(--b, var(--folder-inner));
    }
    
    .continue-application > div .folder:before {
      box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
      transform: translateX(var(--fx, 0));
      transition: transform 0.4s ease var(--fd, 0.3s);
    }
    
    .continue-application > div .folder:after,
    .continue-application > div .folder .paper {
      --l: 1px;
      --t: 1px;
      --w: 21px;
      --h: 25px;
      --b: var(--paper-behind);
    }
    
    .continue-application > div .folder:after {
      transform: translate(var(--pbx, 0), var(--pby, 0));
      transition: transform 0.4s ease var(--pbd, 0s);
    }
    
    .continue-application > div .folder .paper {
      z-index: 1;
      --b: var(--paper);
    }
    
    .continue-application > div .folder .paper:before, .continue-application > div .folder .paper:after {
      content: "";
      width: var(--wp, 14px);
      height: 2px;
      border-radius: 1px;
      transform: scaleY(0.5);
      left: 3px;
      top: var(--tp, 3px);
      position: absolute;
      background: var(--paper-lines);
      box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
    }
    
    .continue-application > div .folder .paper:after {
      --tp: 6px;
      --wp: 10px;
    }
    
    .continue-application > div .pencil {
      height: 2px;
      width: 3px;
      border-radius: 1px 1px 0 0;
      top: 8px;
      left: 105%;
      position: absolute;
      z-index: 3;
      transform-origin: 50% 19px;
      background: var(--pencil-cap);
      transform: translateX(var(--pex, 0)) rotate(35deg);
      transition: transform 0.4s ease var(--pbd, 0s);
    }
    
    .continue-application > div .pencil:before, .continue-application > div .pencil:after {
      content: "";
      position: absolute;
      display: block;
      background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
      width: var(--w, 5px);
      height: var(--h, 20px);
      border-radius: var(--br, 2px 2px 0 0);
      top: var(--t, 2px);
      left: var(--l, -1px);
    }
    
    .continue-application > div .pencil:before {
      -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
      clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
    }
    
    .continue-application > div .pencil:after {
      --b: none;
      --w: 3px;
      --h: 6px;
      --br: 0 2px 1px 0;
      --t: 3px;
      --l: 3px;
      border-top: 1px solid var(--pencil-top);
      border-right: 1px solid var(--pencil-top);
    }
    
    .continue-application:before, .continue-application:after {
      content: "";
      position: absolute;
      width: 10px;
      height: 2px;
      border-radius: 1px;
      background: var(--color);
      transform-origin: 9px 1px;
      transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
      top: 26px;
      right: 16px;
      transition: transform 0.3s;
    }
    
    .continue-application:after {
      --r: 45deg;
    }
    
    .continue-application:hover {
      --cx: 2px;
      --bg: var(--background-hover);
      --fx: -40px;
      --fr: -60deg;
      --fd: .15s;
      --fds: 0s;
      --pbx: 3px;
      --pby: -3px;
      --pbd: .15s;
      --pex: -24px;
    }
    


form{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  
}


