header{
    font-size: 40px;
    font-weight: bold;
    
    
}
body{ background-color: orange;
    
    
    



}

h1{
    border: 2px solid rgb(2, 2, 2);  
    border-radius:5px;  
    padding:5px;
    width: 10%; 
    background-color: transparent;}

h2{border: 2px;
text-size-adjust: 40;
background-color: transparent;
text-align: center;
}

ul{border: 2px solid black;
    background-color: white;
}
.list-container{width: 80%;
position: center;}



.img{
  margin-right: 200px;
}
.card {
    width: 210px;
    height: 254px;
    border-radius: 4px;
    background:transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    padding: .4em;
  }
  
  .card p {
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    -webkit-transition: all .5s;
    transition: all .5s;
    background: black;
    border: 1px solid orange;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .card p:hover {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
  
  .card p span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: all .5s;
    transition: all .5s;
    text-transform: uppercase;
    color: orange;
    letter-spacing: .1em;
  }
  
  .card p:hover span {
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
  }
.card {
  float: right; 
  grid-column-end: auto;
  clear: both;
}

.ul  
.li {float: center;
    clear: both;}    



    
 

  



  
  
 
  
 


  .card a {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background:black;
    border: 1px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card a:hover {
    flex: 4;
  }
  
  .card a span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: orange;
    letter-spacing: .1em;
  }
  
  .card a:hover span {
    transform: rotate(0);
  }






  .ResumeCard {
    width: 17em;
    height: 22.5em;
    background: black;
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .ResumeCard span {
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    font-size: 1em;
  }
  
  .ResumeCard .info {
    font-weight: 500;
    color: white;
    display: block;
    text-align: center;
    font-size: 0.9em;
    margin: 1em;
  }
  
  .ResumeCard .img {
    width: 95;
    height: 95;
    background: white;
    border-radius: 15px;
    margin: auto;
  }
  
  .ResumeCard .share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  
  .ResumeCard a {
    color: white;
    transition: .4s ease-in-out;
  }
  
  .ResumeCard a:hover {
    color: orange;
  }
  
  .ResumeCard button {
    padding: 0.8em 1.7em;
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
  }
  
  .ResumeCard button:hover {
    background: orange;
    color: white;
    cursor: pointer;
  }